// body {
//   width: 100%;
//   height: 100%;
//   background-image: url('../img/bg1.jpg');
// }

.image {
  width: 100vw;
  height: 100vh;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/stately-century-349715.appspot.com/o/bg1.jpg?alt=media&token=f4890c6e-341c-4d18-93f5-9c25a31d7536');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
