.logo {
  width: 80px;
  height: 60px;
}
// e4cca6

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: #000000 0px 0px 27px 0px, rgba(0, 0, 0, 0.3) 0px 0px 16px 0px;
}

.navList > .left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navList > .right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.nav_font {
  font-family: 'hanna_11yrs';
  // font-family: 'inter_regular';
  font-size: 20px;
}

.kakao_login {
  width: 50%;
  height: 50%;
}
