.logo {
  width: 80px;
}
// e4cca6
.nav {
  display: flex;
  direction: row;
  // box-shadow: 0px 0px 0px 5px rgba(210, 201, 130, 0.556);
  box-shadow: #000000 0px 0px 27px 0px, rgba(0, 0, 0, 0.3) 0px 0px 16px 0px;
}
