// OMR 둥글게 관련 변수
$OMR_radius: 45px;
$OMR_small_radius: 42px;
$IF_radius: 30px;

// OMR 글씨체
$OMR_header: 'hanna_11yrs';
$OMR_body: 'inter_medium';

// OMR 글씨 사이즈
$OMR_header_font_size: 25px;
$OMR_body_font_size: 24px;

// OMR 하트 URL
$heart_url: 'https://firebasestorage.googleapis.com/v0/b/stately-century-349715.appspot.com/o/favourite-removebg-preview.png?alt=media&token=31a51ce2-73e4-4d11-a6ae-a30331ed9a85';

@mixin box($width, $height) {
  display: block;
  width: #{$width};
  height: #{$height};
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
}
