// OMR 둥글게 관련 변수
$OMR_radius: 42px;
$OMR_small_radius: 40px;
$IF_radius: 25px;
$IF_small_radius: 21px;

// OMR 글씨체
$OMR_header: 'hanna_11yrs';
$OMR_body: 'inter_medium';

// OMR 글씨 사이즈
$OMR_header_font_size: 28px;
$OMR_body_font_size: 24px;

// OMR 하트 URL
$heart_url: 'https://firebasestorage.googleapis.com/v0/b/stately-century-349715.appspot.com/o/favourite-removebg-preview.png?alt=media&token=31a51ce2-73e4-4d11-a6ae-a30331ed9a85';

// 링크복사, 필적 확인란 버튼 사이즈
$OMR_info_btn: 35px;

// OMR 관련 너비
$OMR_left: 120px;
$OMR_right: 330px;

@mixin box($width, $height) {
  display: block;
  width: #{$width};
  height: #{$height};
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
}

$moal_font_size: 20px;

@mixin box_container {
  border: 20px solid rgb(133, 77, 60);
  border: #a56933 solid 20px;
  border-top: #854e25 solid 20px;
  border-left: #a56933 solid 20px;
  border-bottom: #854e25 solid 20px;
  width: 100%;
  height: 800px;
  background-color: #3d493f;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 16px 10px;
  // color: white;
  padding-top: 50px;
  margin-top: 50px;
  position: relative;
}

@mixin underline($color) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-thickness: 3px;
}
