// OMR 테마
// yellow_ver
$bg_yellow: #fffbd4;
$line_yellow: #fff50c;

// skyblue_ver
$bg_skyblue: #d4f5ff;
$line_skyblue: #76ddfc;

// OMR 칸 색깔
$primary: #895a93;
$before_marking: #fbfffe;
$after_marking: #000000;
