// OMR 테마
// yellow
$bg_yellow: #fffbd4;
// $line_yellow: #fff50c;
$line_yellow: #e5df4d;

// skyblue
$bg_skyblue: #d4f5ff;
$line_skyblue: #76ddfc;

// purple
$bg_purple: #f0e9ff;
$line_purple: #dab3d7;

// green
// $bg_green: #d5ffd4;
// $line_green: #9dfc9a;
$bg_green: #e2fbef;
$line_green: #acd8ab;

// dark_yellow
$bg_dark_yellow: #f9faa9;
$line_dark_yellow: #f0e374;

// navy
$bg_navy: #d6e4f0;
$line_navy: #afb0c3;

// orange
$bg_orange: #f2ddda;
$line_orange: #eba8a6;

// pink {
$bg_pink: #efe2ef;
$line_pink: #eeb9d3;

// OMR 칸 색깔
$primary: #895a93;
$before_marking: #fbfffe;
$after_marking: #000000;
$notyet_marking: #c9cccb;

// 종이색
$paper_light: rgb(250, 250, 242);
$paper: rgb(253 253 229);
// $paper: rgb(240 242 229);
// $paper: #fcfcf0;
// $paper: #f6f6f0;
