@charset "UTF-8";

@font-face {
  font-family: 'inter_regular';
  src: url('../components/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'inter_bold';
  src: url('../components/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'inter_light';
  src: url('../components/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'inter_medium';
  src: url('../components/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'hanna_11yrs';
  src: url('../components/fonts/BMHANNA_11yrs_ttf.ttf');
}
@font-face {
  font-family: 'eraser_dust';
  src: url('../components/fonts/EraserDust.ttf')
}

@font-face {
  font-family: 'notice_body';
  src: url('../components/fonts/SSShinb7.ttf')
}

@font-face {
  font-family: 'noto_sans';
  src: url("../components/fonts/NotoSans-Regular.ttf")
}

@font-face {
  font-family: 'letter_content';
  src: url('../components/fonts/Pak_Yong_jun.ttf')
}