@charset "UTF-8";

@font-face {
  font-family: 'inter_regular';
  src: url('../components/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'inter_bold';
  src: url('../components/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'inter_light';
  src: url('../components/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'inter_medium';
  src: url('../components/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'hanna_11yrs';
  src: url('../components/fonts/BMHANNA_11yrs_ttf.ttf');
}
@font-face {
  font-family: 'eraser_dust';
  src: url('../components/fonts/EraserDust.ttf')
}