div > .modal-dialog {
  --bs-modal-width: 1200px;
  /* // width:70%; */
}
div > .modal-dialog {
  --bs-modal-width: 1200px;
  /* // width:70%; */
}
.modal-body {
  border-radius: inherit;
}
span > .form-label {
  margin-bottom: 0px;
  margin-right: 5px;
}

.form-control {
  font-size: 100px;
}
// .cheer-header {
//     display: flex;
// }

.row {
  > .col {
    display: flex;
    justify-content: center;
    padding: 0px;
    // border: 1px solid #000;
  }
  label {
    // margin: 0px;
  }
  max-width: 100%;
  // padding-left: 0px;
  // margin-left: 0px;
  // margin-top: 0px;
  // > col {
  //     padding: 0px;
  // }
}

.custom_cursor {
}

.MuiTooltip-popper {
  color: red !important;
}

.MuiTooltip-popperInteractive {
  color: red !important;
}

.carousel-control-next {
  pointer-events: none;
  span {
    display: none;
  }
}

.carousel-control-prev {
  pointer-events: none;
  span {
    display: none;
  }
}


#carousel_my {
  .carousel-indicators {
    button {
      display: none;
    }
  }
}
