.box_container {
  border: 20px solid rgb(133, 77, 60);
  border: #A56933 solid 20px;
	border-top: #854E25 solid 20px;
	border-left: #A56933 solid 20px;
	border-bottom: #854E25 solid 20px;
  width: 100%;
  height: 800px;
  background-color: #3D493F;
  box-shadow:  rgba(0, 0, 0, 0.3) 10px 16px 10px;
  // color: white;
  padding-top: 50px;
  margin-top: 50px;
}
.carousel_center{
  display: flex;
  justify-content: center;
}
.carousel_item{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // flex-wrap: wrap;
  // background-image: url("src/img/main.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
}
.bg_character {
  display: flex;
  justify-content: flex-end;
}


.board_carousel {
  width: 100%;
  height:100%;
}

.board_item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.character_img {
  position: absolute;
  top: 60%;
  left:75%;
  width: 25%;
  height: 50%;
  // position: relative;
  z-index: 2;
}



@media(max-width: 1300px) {
  .sm_window {
    display: block;
  }
  .lg_window {
    display: none;
  }
  .xl_window {
    display: none;
  }
}