.box_container {
  border: 20px solid rgb(133, 77, 60);
  border: #A56933 solid 20px;
	border-top: #854E25 solid 20px;
	border-left: #A56933 solid 20px;
	border-bottom: #854E25 solid 20px;
  width: 100%;
  height: 800px;
  background-color: #3D493F;
  box-shadow:  rgba(0, 0, 0, 0.3) 10px 16px 10px;
  // color: white;
  padding-top: 50px;
  margin-top: 50px;
  position: relative;
}
.carousel_center{
  display: flex;
  justify-content: center;
}
.carousel_item{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // flex-wrap: wrap;
  // background-image: url("src/img/main.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
}
.bg_character {
  display: flex;
  justify-content: flex-end;
}


.board_carousel {
  width: 100%;
  height:100%;
}

.board_item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.character_img {
  position: absolute;
  top: 60%;
  left:75%;
  width: 25%;
  height: 50%;
  // position: relative;
  z-index: 2;
}



.pen {
  border:2px solid black;
  height: 10px;
  background-color: white;
  width: 100px;
  position:absolute;
  bottom:0;
  left: 20%
}
.red_pen {
  border:2px solid black;
  height: 10px;
  background-color: rgb(255, 153, 204);
  width: 100px;
  position:absolute;
  bottom:0;
  left: 70%
}
.blue_pen {
  border:2px solid black;
  height: 10px;
  background-color: rgb(0,176,240);
  width: 70px;
  position:absolute;
  bottom:0;
  left: 40%
}

.eraser {
  background-color: yellow;
  width: 150px;
  height: 70px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 5%
}
.eraser_bg {
  border: 2px solid black;
  background-color: lightgray;
  width: 30px;
  height: 70px;
  // border-radius: 0px 0px 10px 10px;
}

.hand_img {
  position: absolute;
  bottom: 0;
  right: 0;
  // z-index: 5;
}


@media(max-width: 1900px) {

  .hand_img {
    img {
      width: 350px;
    }
  }
}

@media(min-width: 1901px) {

  .hand_img {
    img {
      width: 450px;
    }
  }
}