.blackboard_item > * {
  font-family: 'notice_body';
}
.lg_window_content {
  position: absolute;
  left:50%; 
  transform:translateX(-50%); 
  bottom: 0;
}
.cheerup_img {
  position: absolute;
  top: 0;
}

.hand_img {
  position: absolute;
}
// .carousel_img {

// }


.lg_window_content {
  * {
    font-size: 2.5rem;
  }
}



@media(max-width: 1900px) {
  .cheerup_img {
    img {
      width: 300px;
    }
  }
}

@media(min-width: 1901px) {
  .cheerup_img {
    img {
      width: 400px;
    } 
  }
}