@use 'src/style/all';


*:not(button) {
  font-weight: bold;
}

.full_screen {
  width: 100%
}

span {
  margin: none;
}


.cheerHeader {
  display: flex;
  height: 100%;
  // justify-content: space-between;
  .vertical_lr {
    // margin-left: auto; 
    // margin-right: auto;
    text-align: center;
    // align-items: center;
    writing-mode: vertical-lr;
    border-right: 1px solid #000;
    width: 5%;
    font-size: 0.75rem;
  }
  div {
    width:95%;
  }
  div > textarea{
    display: block;
    margin: 15px;
    width: 95%;
    resize: none;
    font-size: 0.5rem;
    // border: 1px solid #000;
  }
  // flex-wrap: wrap;
}

.group {
  // width: 100%;
  // border: 2px solid #000;
  display:flex;
  // display: grid;
  flex-wrap: nowrap;
  justify-content: space-between;
  // align-items: center;
  height:100%;
  label {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }
  div {
    width: 100%;
    input {
      width: 100%;
      font-size: 0.5rem;
      height: 100%;
      display: block;
      overflow: hidden;
      padding: 0 5px 0 0;
    }
  }
}

.form_label {
  // display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  align-items: center;
}
.cheer_box {
  border:1px solid #000;
}

// 버튼관련 css
ul {
  // display: inline;
  display: flex;
  margin: 0px;
  justify-content: flex-end;
}
.button-links {
  list-style: none;
}
  :hover,
  :focus {
    outline: 0 !important;
    outline-offset: 0;

  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  .btn_hover_border_3{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 60px;
    min-height: 25px;
    font-size: 0.5rem;
  }

  .btn_hover_border_3:hover::before,
  .btn_hover_border_3:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
  }
  // .btn span {
  //   position: relative;
  //   display: inline-block;
  //   font-size: 14px;
  //   font-weight: bold;
  //   letter-spacing: 2px;
  //   text-transform: uppercase;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   padding: 15px 20px;
  //   transition: 0.3s;
  // }
  .btn_hover_border_3:hover{
    color: #000;
  }
.btn_hover_border_3::before,
  .btn_hover_border_3::after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
  }
  .btn_hover_border_3::before {
    top: 0;
    right: 0;

    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }
  .btn_hover_border_3::after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }
  
  // .btn_hover_border_3.active {
    
  // }
  .btn_hover_border_3 {
    border: none; 
    color: #a7aaad;
  }
