@use 'src/style/all';


* {
  font-weight: bold;
}

.full_screen {
  width: 100%
}

span {
  margin: none;
}


.cheerHeader {
  display: flex;
  height: 100%;
  justify-content: space-between;
  .vertical_lr {
    writing-mode: vertical-lr;
    width: 10px;
    font-size: 1rem;
  }

  textarea{
    margin-bottom: 3px;
    width: 95%;
    resize: none;
    border: 1px solid #000;
  }
  // flex-wrap: wrap;
}

.group {
  // width: 100%;
  // border: 2px solid #000;
  display:flex;
  // display: grid;
  flex-wrap: nowrap;
  justify-content: space-between;
  height:100%;
  label {
    width: 100%;
    text-align: center;
    // border: 1px solid #000
    // border-right: 1px solid #000;
    // border-left: 1px solid #000;
  }
  div {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.form_label {
  // display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  align-items: center;
}

