@use 'src/style/all';


*{
  font-size: 0.75rem;
}

.full_screen {
  width: 100%
}

span {
  margin: none;
}
.textarea{
  margin-bottom: 3px;
  width: 100%;
  resize: none;
}

.cheerHeader {
  display: flex;
  height: 100%;
  justify-content: center;
  
  .vertical_lr {
    writing-mode: vertical-lr;
    width: 10px;
    font-size: 0.75rem;
  }
  // flex-wrap: wrap;
}

.group {
  height:100%
}
.header {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  // align-items: ro;
  .horization {
    justify-content: flex-end;
    width: 90px;
    font-size: 0.75rem;
  }
}
::placeholder{  
  font-size: 0.75rem;
}
.controlInput {
  margin-right: 15px; 
}

