@use 'src/style/all';
@use 'src/style/color';

// 폰트
@mixin fill_stroke($fill, $stroke) {
  background-color: #{$fill};
  border: 3px solid #{$stroke};
}

@mixin header($fill, $stroke) {
  font-family: all.$header;
  @include fill_stroke(#{$fill}, #{$stroke});
}

@mixin body($fill, $stroke) {
  font-family: all.$body;
  @include fill_stroke(#{$fill}, #{$stroke});
}

// OMR 마킹하는 곳
@mixin omr() {
  @include all.box(29px, 39px);
  @include all.flex(column, center, center);
  @include fill-stroke(color.$before_marking, color.$primary);
  border-radius: 50px;
  color: color.$primary;
  padding-bottom: 3px;
}

// 시험지
.sheet {
  @include all.box(1388px, 854px);
}
.omr_top {
  @include all.flex(row, flex-end, center);
}

.omr_body {
  @include all.flex(row, flex-start, center);
}

// 시험지 좌측 - 정보 구역
.info {
  @include all.box(30%, 100%);
  @include all.flex(column, center, center);
  .section {
    @include all.flex(row, flex-start, center);
  }
}

// 시험지 가운데, 우측 - 응원한마디 구역
.cheer {
  @include all.box(35%, 100%);
  @include all.flex(row, center, center);
}

// 마킹
.before_marking {
  @include omr();
}

.after_marking {
  @include omr();
  background: color.$after_marking;
}

/* 색깔별 */
// 노란색
.yellow_ver {
  .header {
    @include header(color.$bg_yellow, color.$line_yellow);
  }
  .body {
    @include body(color.$before_marking, color.$line_yellow);
  }
}

// 하늘색
.skyblue_ver {
  .header {
    @include header(color.$bg_skyblue, color.$line_skyblue);
  }
  .body {
    @include body(color.$before_marking, color.$line_skyblue);
  }
}

li {
  display: block;
  width: 100%;
  div {
    display: inline-block;
  }
}
