@use 'src/style/all';
@use 'src/style/color';

.notice_font > * {
  font-family: 'inter_bold';
  font-size: 18px;
  padding-top: 5px;
}

.sort_text {
  font-family: 'inter_bold';
  font-size: 18px;
  text-align: left;

  svg {
    width: 35px;
  }
  height: 27px;
  line-height: 27px;
  strong {
    font-size: inherit;
  }
  margin-top: 5px;
}

@mixin fill_stroke($fill, $stroke) {
  background-color: #{$fill};
  border: 3px solid #{$stroke};
}

@mixin omr($bg) {
  @include all.box(23px, 30px);
  @include fill-stroke(color.$before_marking, color.$primary);
  display: inline-block;
  border-radius: 50px;
  color: color.$primary;
  padding: 5px;
  margin: 10px;
  margin-right: 16px;
  background: #{$bg};
}

.empty {
  @include omr(color.$before_marking);
}

// 문항 - 마킹 X
.already {
  @include omr(color.$after_marking);
}

.notyet {
  @include omr(color.$notyet_marking);
}

.cannot {
  @include omr(color.$after_marking);
  background: linear-gradient(
    120deg,
    color.$before_marking 48%,
    red 0,
    red 60%,
    color.$before_marking 0
  );
}

.liked {
  @include omr(color.$after_marking);

  background-color: none;
  background-image: url(all.$heart_url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.nubi {
  margin-right: 3px;
  display: flex;
  align-items: center;
  width: 100%;

  span {
    display: inline-block;
    margin: 0%;
    padding: 0%;
    margin-right: 3px;
    margin-bottom: 3px;
  }
  .noticetext {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 35px;
    padding-top: 3px;
  }
}

.container {
  width: inherit;
  padding-left: 20px;
  margin-top: 3px;
}
