.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 25%;
  height: 100%;
  margin-bottom: 4%;
}

.card_img {
  max-width: 95%;
  max-height: 100%;
}

.modalimg {
  width: 100%;
}
