.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // // 칠판배경 넣고 그 안에 사진이 들어가게끔 해야 되는데
  // padding-top: 10px;
}

.card {
  width: 25%;
  height: 100%;
  margin-bottom: 4%;
}

.card_img {
  max-width: 95%;
  max-height: 100%;
}

// 전체화면 꽉차게 하고 이동할 링크 클릭할수있게하기
// hover 아니라 새로운 모달창 뜨게해야될거같음
// .card_img:hover {
//   transform: scale(1.8);
// }

.card_link {
}

// .modal {
//   display: none;
//   z-index: 500;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// .modalBox {
//   position: relative;
//   // text-align:center;
//   top: 50%;
//   left: 50%;
//   position: sticky;
// }
.modalimg{
  width: 100%;
}
img:hover {
  cursor: -webkit-zoom-in;
}
