@use 'src/style/all';
@use 'src/style/color';

// .container {
//   padding-top: 30px;

// }

.screen_container {
  padding-top: 30px;
}

.spinner {
  > div:nth-child(1) {
    height: 400px;
  }
}

.box_container {
  @include all.box_container;
}

.animation {
  z-index: 1;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
